@import "./variables.scss";
.personsWrap {
  padding: 40px 0;
  text-align: center;
  &_title {
    width: 75%;
    font-family: $main-fontFamily;
    text-transform: uppercase;
    margin: 0 auto 30px auto;
    font-size: 50px;
    background-color: $darkGrey-color;
    color: $main-color;
    border-radius: 15px;
  }
  &_persons {
    display: flex;
    justify-content: start;
    align-items: center;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      height: 25px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $main-color;
      border-radius: 6px;
      border: 3px solid $darkGrey-color;
      background-clip: content-box;
    }
    &::-webkit-scrollbar-track {
      background-color: #c0c0c0;
    }

    &_person {
      margin: 15px 30px 20px;
      background-color: $darkGrey-color;
      font-family: $main-fontFamily;
      padding: 20px;
      border-radius: 10px;
      border: 2px solid $main-color;
      box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 1);
      .person_img {
        border-radius: 10px;
        border: 2px solid $lightGrey-color;
      }
      .person_name {
        font-size: 25px;
        color: white;
      }
      .person_email {
        font-size: 20px;
        color: $lightGrey-color;
      }
      .person_nick {
        font-size: 15px;
        color: $main-color;
      }
    }
  }
  &_description {
    margin: 40px 100px 0;
    padding: 20px;
    font-family: $main-fontFamily;
    text-align: justify;
    font-size: 20px;
    border: 3px solid $darkGrey-color;
    border-radius: 15px;
    box-shadow: inset 0px 0px 13px 1px rgba(0, 0, 0, 1);
  }
}

.our {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $main-fontFamily;
  padding: 0 100px;
  &_valuesWrap,
  &_characteristicWrap {
    width: 45%;
    height: 430px;
    background-color: grey;
    padding: 30px 40px;
    margin: 40px 0;
    border: 3px solid $darkGrey-color;
    border-radius: 15px;
    box-shadow: inset 0px 0px 13px 1px rgba(0, 0, 0, 1);
  }
  &_characteristicWrap {
    background-color: $main-color;
  }
}

.values {
  &_title {
    text-transform: uppercase;
    font-size: 35px;
    color: $main-color;
  }
  &_box {
    display: flex;
    justify-content: start;
    align-items: center;

    &_img {
      background-color: $main-color;
      color: $darkGrey-color;
      line-height: 40px;
      font-size: 40px;
      border-radius: 50%;
      padding: 10px;
      margin: 20px 10px;
      border: 2px solid $darkGrey-color;
    }
    &_text {
      &_title {
        font-weight: bold;
        color: $lightGrey-color;
        font-size: 20px;
      }
      &_text {
        margin-top: 5px;
      }
    }
  }
}

.characteristic {
  &_title {
    text-transform: uppercase;
    font-size: 35px;
    color: $darkGrey-color;
  }
  &_box {
    display: flex;
    justify-content: start;
    align-items: center;
    line-height: 40px;
    &_img {
      cursor: pointer;
    }
    &_text {
      margin: 10px 0;
      overflow: hidden;
      &_title {
        color: $lightGrey-color;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 27px;
        border-bottom: 1px solid $darkGrey-color;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          color: $darkGrey-color;
        }
      }
      &_text {
        transform: translateY(100%);
        line-height: 20px;
        transition: 0.5s;
        &.active {
          transform: translateY(0%);
        }
      }
    }
  }
}
