.map {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1500px;
  margin-bottom: 15px;
  filter: grayscale(100%);
  transition: 0.3s;
  &:hover {
    filter: grayscale(0%);
  }
}

.infoAndForm_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_info,
.form_wrap,
.form {
  width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "Kanit", sans-serif;
}
.form_wrap {
  background-color: #aca9a9;
  padding: 30px 0;
  border-radius: 10px;
}

.form {
  width: 80%;
  & input,
  & textarea {
    width: 100%;
    padding: 16px 20px;
    margin-bottom: 2px;
    border: none;
    border-radius: 5px;
    font-family: "Kanit", sans-serif;
    &:focus {
      outline: none;
    }

    &::placeholder {
      font-family: "Kanit", sans-serif;
      font-size: 15px;
      line-height: 15px;
    }
    &.error {
      border: 2px solid red;
      background-color: #ffc5c5;
      &::placeholder {
        color: black;
      }
    }
  }
  & textarea {
    height: 150px;
  }
  & .form_name_btn {
    width: 150px;
    font-size: 22px;
    line-height: 22px;
    color: white;
    font-weight: bold;
    border: 3px solid #363535;
    background-color: rgb(179, 102, 1);
    border-radius: 5px;
    margin-top: 15px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      background-color: #363535;
    }
  }
}

.contact_info {
  .contact_info_title {
    font-size: 60px;
    margin-bottom: 30px;
    font-weight: normal;
  }
  .contact_info_adress {
    margin-bottom: 30px;
  }
  .contact_info_telephone {
    margin-bottom: 50px;
    &_number {
      text-decoration: none;
      color: #e08a09;
      margin-left: 10px;
      transition: 0.3s;
      &:hover {
        color: black;
      }
    }
  }

  .contact_info_email {
    margin-bottom: 50px;
    &_text {
      text-decoration: none;
      color: #e08a09;
      margin-left: 10px;
      transition: 0.3s;
      &:hover {
        color: black;
      }
    }
  }
}
