@import "./variables.scss";
.nav_list {
  position: relative;
  z-index: 5;
  &_dropdown {
    position: absolute;
    top: 100%;
    left: 49.5%;
    transform: translateX(-60%);
    height: 20px;
    width: 180px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1111;
    &Look {
      position: absolute;
      top: 16%;
      left: 0%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      background-color: #000000;
      z-index: 3;

      border: 3px solid #000000;
      background-color: rgba(179, 102, 1, 0.829);
      border-radius: 5px;
    }
    &_element {
      text-align: center;
      width: 100%;
      display: block;
      padding: 7px 20px;
      color: $text-color;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.3s;
      &:hover {
        background-color: rgba(0, 0, 0, 0.829);
      }
    }
  }
}

.nav_list_arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-150%, 110%) rotate(90deg);
  font-weight: bold;
  cursor: pointer;
}
.hide_arrow {
  transition: 0.3s;
}
.show_arrow {
  transition: 0.3s;
  transform: translate(-150%, 110%) rotate(-90deg);
}

.nav_list_dropdown.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s linear, visibility 0.3s linear;
}
.nav_list_dropdown.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s linear, visibility 0.3s linear;
}
