// font-family: 'Kanit', sans-serif;

.nav {
  background-color: #e08a09;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Kanit";
  flex-wrap: wrap;

  .logo {
    display: block;
    width: 500px;
  }

  .nav_list {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    // position: relative;

    .nav_list_element {
      text-transform: uppercase;
      font-size: 27px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      margin-right: 5px;
      line-height: 50px;
      border: 3px solid #363535;
      background-color: rgb(179, 102, 1);
      border-radius: 5px;
      cursor: pointer;

      .nav_list_element_text {
        display: block;
        text-decoration: none;
        color: white;
        padding: 0 22px;

        z-index: 2;
      }
      .nav_list_element_text.active {
        background-color: #363535;
      }

      &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #363535;
        transition: 0.2s ease-in-out;
        z-index: 1;
      }

      &.down::before {
        top: -100%;
      }

      &:hover::before {
        top: 0;
      }

      &:nth-child(5) {
        border-right: 4px solid #363535;
      }
    }
  }
}
.breadcrumbs {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100vw;
  background-color: #363535;
  height: 50px;
  &_element,
  &_element_last {
    color: white;
    text-decoration: none;

    display: block;
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
    transition: 0.3s;
    &:after {
      content: " - ";
      color: white;
      margin: 0 20px;
    }
    &:last-child {
      color: #e08a09;
      &:after {
        display: none;
      }
    }
    &:first-child {
      margin-left: 100px;
    }
    &:hover {
      color: #e08a09;
    }
  }
  &_element_last {
    cursor: default;
  }
}
