@import "./variables.scss";
.shopWrapCart {
  background-color: $lightGrey-color;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .shop_title {
    width: 75%;
    font-family: $main-fontFamily;
    text-transform: uppercase;
    margin: 50px auto 0px auto;
    font-size: 50px;
    background-color: $darkGrey-color;
    color: $main-color;
    border-radius: 15px;
    text-align: center;
  }
}
.cartBtn {
  position: fixed;
  top: 200px;
  right: 0;
  margin-left: auto;
  padding: 15px 35px 10px 20px;
  background-color: $main-color;
  border-radius: 20px 0 0 20px;
  z-index: 100;

  .cart {
    background-color: #00000000;
    border: 3px solid $darkGrey-color;
    border-radius: 15px 3px 3px 15px;
    padding: 5px;
    color: $darkGrey-color;
    font-size: 30px;
    line-height: 30px;
    transition: 0.3s;
    position: relative;
    cursor: pointer;
    &:hover {
      color: $lightGrey-color;
      border-color: $lightGrey-color;
    }
    &_number {
      position: absolute;
      background-color: $darkGrey-color;
      top: 20%;
      right: -84%;
      font-size: 20px;
      width: 2rem;
      height: 1.5rem;
      line-height: 1.5rem;
      color: $main-color;
      border-radius: 25%;
      font-weight: bold;
    }
  }
}

.items {
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .item {
    width: 30%;
    padding: 20px;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    background-color: $darkGrey-color;
    border-radius: 15px;
    font-family: $main-fontFamily;
    &_img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      background-color: #ffffff00;
      border-radius: 15px;
      border: 5px solid $main-color;
      transform: scale(0.9);
      transition: 0.3s;
      &:hover {
        transform: scale(1);
      }
    }
  }
}
.item_body {
  .item_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 25px;
    border-bottom: 1px solid $main-color;
    &_name {
      font-size: 25px;
      font-weight: bold;
      color: $main-color;
    }
    &_price {
      font-size: 20px;
      color: $lightGrey-color;
    }
  }
  .add {
    height: 100px;
    &_button,
    .plusAndMinus_btn,
    .buttons_remove {
      background-color: $darkGrey-color;
      font-family: $main-fontFamily;
      border: 3px solid $main-color;
      border-radius: 15px;
      padding: 5px;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      color: $main-color;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: $main-color;
        color: $darkGrey-color;
      }
    }
    &_buttons {
      .plusAndMinus {
        color: $lightGrey-color;
        &_btn {
          padding: 0 10px;
          margin: 0 40px;
          line-height: 25px;

          &:nth-child(1) {
            color: red;
            border-color: red;
            &:hover {
              color: $darkGrey-color;
              background-color: red;
            }
          }
          &:nth-last-child(1) {
            color: greenyellow;
            border-color: greenyellow;
            &:hover {
              color: $darkGrey-color;
              background-color: greenyellow;
            }
          }
        }
        &_quantity {
          font-size: 20px;
          font-weight: bold;
        }
      }
      .buttons_remove {
        padding: 0 10px;
        margin-top: 30px;
      }
    }
  }
}

.cartPopupWrap {
  position: fixed;
  top: 0;
  right: -200%;
  transition: 1s;
  overflow: scroll;
  &.show {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-color: rgba(179, 102, 1, 0.9);
    border-left: 5px solid black;
    z-index: 110;
  }
}
.cartPopup {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $main-fontFamily;
  &_closeBtn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: black;
    font-size: 35px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      color: $lightGrey-color;
    }
  }
  &_title {
    width: 75%;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
    background-color: $darkGrey-color;
    color: $main-color;
    border-radius: 15px;
    text-align: center;
  }
}

.cartPopup_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &_item {
    background-color: $darkGrey-color;
    width: 90%;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 10px;
    border-radius: 15px;
    &_img {
      width: 350px;
      border-radius: 15px;
      border: 5px solid $main-color;
    }
    &_text {
      display: flex;
      align-items: center;
      justify-content: space-around;
      &_name {
        font-size: 20px;
        color: $main-color;
        .text_name_quantity {
          color: $lightGrey-color;
          font-size: 17px;
        }
      }
      &_priceOne {
        color: $main-color;
        font-weight: bold;
        font-size: 20px;
      }
      &_priceStack {
        display: block;
        margin: 10px 0;
        color: $lightGrey-color;
        font-weight: bold;
      }
    }
    &_btn {
      background-color: rgba(255, 255, 255, 0);
      font-family: $main-fontFamily;
      color: $main-color;
      border: 3px solid $main-color;
      border-radius: 15px;
      font-size: 15px;
      padding: 0 10px;
      font-weight: bold;
      margin-bottom: 10px;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        background-color: $main-color;
        color: $darkGrey-color;
      }
    }
  }
  &_totalPrice {
    width: 75%;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
    background-color: $darkGrey-color;
    color: $lightGrey-color;
    border-radius: 15px;
    text-align: center;
  }
}
.cartPopup_buy {
  .cartPopup_buy_btn {
    background-color: #ffffff00;
    padding: 10px 50px;
    margin: 0 5px;
    font-family: $main-fontFamily;
    text-transform: uppercase;
    font-size: 30px;
    border: 6px solid $darkGrey-color;
    border-radius: 20px;
    background: $lightGrey-color;
    font-weight: bold;
    color: $darkGrey-color;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      transform: scale(1.3);
      background-color: $main-color;
    }
  }
}

.shopWrapCart_paggination {
  margin-bottom: 50px;
  &_prevBtn,
  &_nextBtn,
  &_page {
    background-color: #ffffff00;
    padding: 0px 10px;
    margin: 0 5px;
    font-family: $main-fontFamily;
    font-size: 20px;
    border: 3px solid $darkGrey-color;
    border-radius: 20px;
    background: $main-color;
    font-weight: bold;
    color: $darkGrey-color;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
    &.activePage {
      background-color: $darkGrey-color;
      color: $main-color;
      box-shadow: 0px 0px 3px 2px $main-color;
    }
  }
}

@media (max-width: 1263px) {
  .items {
    width: 100%;
    padding: 65px;
    .item {
      width: 45%;
      margin: 10px;
    }
  }
  .cartBtn {
    top: 300px;
  }
  .cartPopupWrap {
    &.show {
      width: 50%;
    }
  }
}
@media (max-width: 1024px) {
  .items {
    padding: 40px;
  }
  .item_body {
    .item_title {
      &_name {
        font-size: 18px;
      }
      &_price {
        font-size: 18px;
      }
    }
    .add {
      height: 100px;

      &_buttons {
        .plusAndMinus {
          &_btn {
            padding: 0 10px;
            margin: 0 20px;
          }
        }
      }
    }
  }
  .cartPopupWrap {
    &.show {
      width: 57%;
    }
  }
}
@media (max-width: 850px) {
  .items {
    width: 100%;
    padding: 50px;
    .item {
      width: 90%;
    }
  }
  .item_body {
    .item_title {
      &_name {
        font-size: 25px;
      }
    }
    .add {
      &_buttons {
        .plusAndMinus {
          color: $lightGrey-color;
          &_btn {
            padding: 10px 30px;
            margin: 0 20px;
          }
        }
        .buttons_remove {
          padding: 0 50px;
        }
      }
    }
  }
  .cartPopupWrap {
    &.show {
      width: 80%;
    }
  }
}
@media (max-width: 600px) {
  .items {
    padding: 30px;
    .item {
      width: 95%;
    }
  }
  .cartBtn {
    top: 140px;
  }
  .item_body {
    .item_title {
      &_name {
        font-size: 18px;
      }
    }
    .add {
      &_buttons {
        .plusAndMinus {
          color: $lightGrey-color;
          &_btn {
            padding: 5px 15px;
            margin: 0 10px;
          }
        }
        .buttons_remove {
          padding: 0 10px;
        }
      }
    }
  }
  .cartPopupWrap {
    &.show {
      width: 100%;
    }
  }
  .cartPopup_body {
    &_item {
      &_img {
        width: 280px;
      }
    }
  }
}
@media (max-width: 450px) {
  .items {
    padding: 0px;
    .item {
      width: 100%;
    }
  }
  .cartBtn {
    top: 140px;
  }
  .item_body {
    .item_title {
      flex-direction: column;
      &_name {
        font-size: 20px;
      }
    }
    .add {
      &_buttons {
        .plusAndMinus {
          color: $lightGrey-color;
          &_btn {
            padding: 5px 10px;
            margin: 0 10px;
          }
        }
        .buttons_remove {
          padding: 0 5px;
          font-size: 18px;
        }
      }
    }
  }
  .cartPopup_body {
    &_item {
      &_img {
        width: 160px;
      }
      &_text {
        flex-direction: column;
        line-height: 20px;
        &_name {
          margin-bottom: 10px;
        }
      }
    }
    &_totalPrice {
      font-size: 25px;
    }
  }
}
